*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 164, 200, 0.4) 0%, rgba(0, 187, 30, 0) 49.48%, rgba(0, 187, 30, 0.24) 100%), linear-gradient(0deg, rgba(0, 1, 17, 0.7), rgba(0, 1, 17, 0.7)), url(./img/assets/background_img.jpg);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.back_button {
    position: absolute;
    left: 5%;
    top: 3%;
    z-index: 1;
}

.back_button img {
    opacity: 90%;
    width: 200%;
    transition: all ease 0.2s;
}

.back_button:hover {
    animation-name: back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.back_button:hover img {
    opacity: 100%;
    transform: scale(1.4);
}

/* Nav & Footer */
.mentions {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 39.25%;
    top: 93%;
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 13em;
    height: 100vh;
    transform: translateX(-80%);
    transition: all ease 1s;

}

nav img {
    position: relative;
    width: 10%;
    height: auto;
    left: -5%;
    transition: all ease 0.2s;
}

nav:hover {
    transform: translateX(0%);
}

nav:hover img {
    opacity: 0;
}

nav ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -10%;
}

nav li {
    padding: 0.2em;
    margin: 1em 0 1em 0;
    position: relative;
    transition: all ease 0.5s;
    width: fit-content;
}

nav li:hover {
    transform: translateX(10%);
    background-color: white;
}

nav li:hover a {
    color: black;
}

footer {
    display: flex;
    justify-content: flex-start
    ;
    align-items: center;
    position: fixed;
    bottom: 3%;
    width: 15em;
    height: 4em;
    padding: 0 0.5em 0 1em;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    border-radius: 3em;
    right: 2%;
    z-index: 3;
    transition: all ease 0.2s;
}

footer p {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 0.5em;
}

footer img {
    width: 20%;
    height: auto;
}

footer:hover {
    transform: scale(1.1);
}

footer:hover img {
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

    from {
        transform:rotate3d(0, 0, 1, 0deg);
    }
    20%, 32%, 44%, 56%, 68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    23%, 35%, 47%, 59%, 71% {
        transform: rotate3d(0,0,1,15deg);
    }
    26%, 38%, 50%, 62%, 74% {
        transform: rotate3d(0,0,1,0deg);
    }
    29%, 41%, 53%, 65%, 77% {
        transform: rotate3d(0,0,1,-15deg);
    }
    80% {
        transform:rotate3d(0, 0, 1, 0deg);
    }

}

/* Pop-up */
#target-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
    z-index: 1;
}

#target-content:target {
    pointer-events: all;
    opacity: 1;
}

#target-content #target-inner {
    position: absolute;
    display: block;
    padding: 48px;
    line-height: 1.8;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);

    background: white;

    color: #000000;
}

#target-content h2 {
    margin-top: 0;
}

#target-content a {
    color: rgb(0, 152, 104);
    transition: all ease 0.2s;
}

#target-content a:hover {
    color: rgb(0, 24, 16);
    text-decoration: underline;
}

.modal_background {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

a.close {
    font-size: 1.5em;
    font-weight: bold;
    position: fixed;
    left: 95%;
    top: 7%;
    color: black;
    opacity: 0.7;
    transition: all ease 0.2s;
}

a.close:hover {
    opacity: 1;
}

#button:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2)
}

/* Contenu */

h1 {
    font-family: 'Kulim Park', sans-serif;
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 4em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration {
    display: flex;
    justify-content: center;
    width: 50%;
}

.Image img {
    position: relative;
    width: 70%;
    height: fit-content;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    left: 5%;
}

h1 {
    position: relative;
    height: 10%;
    left: -1%;    
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Image Text";
    width: 100%;
    height: 90%;
    align-items: center;
    top: -10%;
}

.Image {
    grid-area: Image;
    display: flex;
    justify-content: center;
}

.Text {
    grid-area: Text;
}

.Text p {
    width: 90%;
    height: auto;
    text-align: justify;
}

.Text a {
    position: relative;
    bottom: -10%;
    right: -35%;
    text-decoration: underline;
    transition: all ease 0.2s;
}

.Text a:hover {
    color: black;
}

@keyframes back {
    0% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(30%);
    }   
    100%{
        transform: translateX(0%);
    }
}

@media screen and (max-width: 768px) {
    .back_button {
        position: absolute;
        left: 10%;
    }
}
