*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 164, 200, 0.4) 0%, rgba(0, 187, 30, 0) 49.48%, rgba(0, 187, 30, 0.24) 100%), linear-gradient(0deg, rgba(0, 1, 17, 0.7), rgba(0, 1, 17, 0.7)), url(./img/background.jpg);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.back_button {
    position: absolute;
    left: 2%;
    top: 3%;
    z-index: 1;
}

.back_button img {
    width: 200%;
}

nav {
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 15em;
    height: 5em;
    padding: 0.7em 0em 0 1em;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    border-radius: 2em;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 15em;
    height: 5em;
    padding: 0.7em 0em 0 1em;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    border-radius: 2em;
    z-index: 1;
}

footer p,
nav p {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Kulim Park', sans-serif;
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 4em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration {
    display: flex;
    justify-content: center;
    width: 50%;
}

.Image img {
    width: 70%;
    height: fit-content;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
}

h1 {
    position: relative;
    height: 10%;
    left: -1%;    
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Image Text";
    width: 100%;
    height: 90%;
    align-items: center;
    top: -10%;
}

.Image {
    grid-area: Image;
    display: flex;
    justify-content: center;
}

.Text {
    grid-area: Text;
}

.Text p {
    width: 90%;
    height: auto;
    text-align: justify;
}

.Text a {
    position: relative;
    bottom: -10%;
    right: -35%;
    text-decoration: underline;
    transition: all ease 0.2s;
}

.Text a:hover {
    color: black;
}