*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 164, 200, 0.4) 0%, rgba(0, 187, 30, 0) 49.48%, rgba(0, 187, 30, 0.24) 100%), linear-gradient(0deg, rgba(0, 1, 17, 0.7), rgba(0, 1, 17, 0.7)),url(./img/background.jpg);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

/* Navbar & Footer */

nav {
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 15em;
    height: 5em;
    padding: 0.7em 0em 0 1em;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    border-radius: 2em;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 15em;
    height: 5em;
    padding: 0.7em 0em 0 1em;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    border-radius: 2em;
    z-index: 1;
}

footer p,
nav p {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

/* Section */

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 4em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 p {
    font-size: 68px;
}

/* Bannière défilante */
.banner-container {
    display: flex;
    padding: 1em 0 0 0;
    width: 100%;
    overflow: hidden;
  }

.banner-container div { 
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

.banner-container svg {
    padding: 0 0.5em 0 0.5em;
}


@keyframes marquee {
0%   { transform: translateX(0%); }
100% { transform: translateX(-100%); }
}
/* Partie Accueil */

.home .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.315);
    justify-content: center;
    align-items: center;
    position: relative;
    left: -0.20%;
    margin-bottom: 3em ;
}

.title .t1 {
    font-size: 4em;
}

.title .t2 {
    font-size: 3.688em;
}

.home a {
    border: solid 1px white;
    border-radius: 1em;
    text-align: center;
    width: fit-content;
    padding: 0.5em 2em 0.5em 2em ;
    transition: all ease 0.5s;
}

.home a:hover {
    color: black;
    mix-blend-mode: screen;
    border: solid 1px white;
    border-radius: 1em;
    background-color: white;
    text-align: center;
    width: fit-content;
    padding: 0.5em 2em 0.5em 2em ;
    transform: scale(1.5);
}

.logo {
    margin:0 1em 0 1em;
}
/* Partie Profil */

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home_img {
    width: 20%;
    height: auto;
    margin: 1em;
}

.profil .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
}

.profil .content p {
    width: 100%;
    height: auto;
    text-align: justify;
}

.profil .content div a {
    font-size: 1em;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    transition: all ease 0.2s;
}

.profil .content a:hover {
    color: black;
}


/* Partie Compétences */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Slider */

.skills .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.slider-container {
    position: relative;
    left: -3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
}

.mySlides {
    display: none;
    width: 90%;
    height: 100%;
}

.slider-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

button {
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
    transform: rotate(90deg);
    transition: all ease 0.2s;
    padding: 1em 0 1em 0;
}

button:hover {
    color: white;
    transform: rotate(90deg) scale(1.8);
    
}

.mySlides div {
    display: flex;
    width: 100%;
    height: 90%;
}

.mySlides h2 {
    text-align: center;
    height: 10%;
}

.mySlides div .img_container {
    width: 50%;
    height: 100%;
}

.img_container img {
    width: 100%;
    height: fit-content;
    padding: 1em;
}

.mySlides div .text {
    padding: 1em;
    width: 50%;
}

/* Partie Projet */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects .content {
    position: relative;
    top: 5%;
    display: grid;
    justify-items: center;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 15em;
    height: 18em;
    margin: 0.5em;
    background-color: beige;
    padding: 0 0 1em 1em;
    border-radius: 5%;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.80));
    transition: all ease 0.5s;
    z-index: 0;
    
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card p {
    margin: 0;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
}

@media screen and (min-width: 768px) and (max-width: 1040px) {

    .title .t1 {
        font-size: 2.65em;
    }

    .title .t2 {
        font-size: 2.5em;
    }

    .card{
        width: 11em;
        height: 14em;
        padding: 0 0 0.5em 0.5em;
    }

    .card p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px){

    .title .t1 {
        font-size: 2.15em;
    }

    .title .t2 {
        font-size: 2em;
    }

    .card{
        width: 9em;
        height: 12em;
        padding: 0 0 0.2em 0.2em;
    }

    .card p {
        font-size: 1.2em;
    }
}
