*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 164, 200, 0.4) 0%, rgba(0, 187, 30, 0) 49.48%, rgba(0, 187, 30, 0.24) 100%), linear-gradient(0deg, rgba(0, 1, 17, 0.7), rgba(0, 1, 17, 0.7)), url(./img/background.jpg);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

ul {
    list-style: none;
}

/* Navbar & Footer */

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 13em;
    height: 100vh;
    transform: translateX(-80%);
    transition: all ease 1s;

}

nav img {
    position: relative;
    width: 10%;
    height: auto;
    left: -5%;
    transition: all ease 0.2s;
}

nav:hover {
    transform: translateX(0%);
}

nav:hover img {
    opacity: 0;
}

nav ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -10%;
}

nav li {
    padding: 0.2em;
    position: relative;
    transition: all ease 0.5s;
    width: fit-content;
}

nav li:hover {
    transform: translateX(10%);
    background-color: white;
}

nav li:hover a {
    color: black;
}

footer {
    display: flex;
    justify-content: flex-start
    ;
    align-items: center;
    position: fixed;
    bottom: 3%;
    width: 15em;
    height: 4em;
    padding: 0 0.5em 0 1em;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    border-radius: 3em;
    right: 2%;
    z-index: 3;
    transition: all ease 0.2s;
}

footer p {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 0.5em;
}

footer img {
    width: 20%;
    height: auto;
}

footer:hover {
    transform: scale(1.1);
}

footer:hover img {
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

    from {
        transform:rotate3d(0, 0, 1, 0deg);
    }
    20%, 32%, 44%, 56%, 68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    23%, 35%, 47%, 59%, 71% {
        transform: rotate3d(0,0,1,15deg);
    }
    26%, 38%, 50%, 62%, 74% {
        transform: rotate3d(0,0,1,0deg);
    }
    29%, 41%, 53%, 65%, 77% {
        transform: rotate3d(0,0,1,-15deg);
    }
    80% {
        transform:rotate3d(0, 0, 1, 0deg);
    }

}

/* Section */

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 4em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 p {
    font-size: 68px;
}

/* Pop-up */
#target-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
    z-index: 1;
}

#target-content:target {
    pointer-events: all;
    opacity: 1;
}

#target-content #target-inner {
    position: absolute;
    display: block;
    padding: 48px;
    line-height: 1.8;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);

    background: white;

    color: #000000;
}

#target-content h2 {
    margin-top: 0;
}

.modal_background {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

a.close {
    font-size: 1.5em;
    font-weight: bold;
    position: fixed;
    left: 95%;
    top: 7%;
    color: black;
    opacity: 0.7;
    transition: all ease 0.2s;
}

a.close:hover {
    opacity: 1;
}

#button:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2)
}

/* Bannière défilante */
.banner-container {
    position: relative;
    display: flex;
    padding: 1em 0 0 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.banner-container div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

.banner-container svg {
    padding: 0 0.5em 0 0.5em;
}


@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Partie Accueil */

#home .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.315);
    justify-content: center;
    align-items: center;
    position: relative;
    left: -0.20%;
    margin-bottom: 3em;
}

.title .t1 {
    font-size: 4em;
    animation-name: leftin;
    animation-duration: 3s;
    animation-iteration-count: none;
    animation-timing-function: ease;
}

.title .t2 {
    font-size: 3.688em;
    animation-name: rightin;
    animation-duration: 3s;
    animation-iteration-count: none;
    animation-timing-function: ease;
}

.title .t2::after, .title .t1::after {
    opacity: 100%;
}

#home a {
    border: solid 1px white;
    border-radius: 1em;
    text-align: center;
    width: fit-content;
    padding: 0.5em 2em 0.5em 2em;
    transition: all ease 0.5s;
}

#home a:hover {
    color: black;
    mix-blend-mode: screen;
    border: solid 1px white;
    border-radius: 1em;
    background-color: white;
    text-align: center;
    width: fit-content;
    padding: 0.5em 2em 0.5em 2em;
    transform: scale(1.5);
}

.logo {
    margin: 0 1em 0 1em;
    animation-name: turn;
        animation-duration: 1s;
        animation-iteration-count: none;
        animation-timing-function: ease;

}

@keyframes turn {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 100%;
        transform: rotate(360deg);
    }
  }

@keyframes leftin {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }   
}

@keyframes rightin {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }   
}

/* Partie Profil */

#profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#profil img {
    width: 25%;
    height: auto;
    margin: 1em;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
}

#profil .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
}

#profil .content p {
    width: 100%;
    height: auto;
    text-align: justify;
}

#profil .content div a {
    position: relative;
    font-size: 1em;
    text-decoration: underline;
    transition: all ease 0.2s;
    left: 35%;
}

#profil .content a:hover {
    color: black;
}

/* Partie Formation */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Image Text";
    width: 100%;
    height: 100%;
}

.Image {
    position: relative;
    grid-area: Image;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12%;

}

.Text {
    grid-area: Text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Text p {
    position: relative;
    text-align: justify;
    width: 70%;
    top: -10%;
    left: -5%;
}

.Image img {
    position: relative;
    width: 60%;
    height: auto;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
    top: -10%;
}


/* Partie Compétences */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Slider */

#skills .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.slider-container {
    position: relative;
    left: -3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
}

.mySlides {
    display: none;
    width: 90%;
    height: 100%;
}

.slider-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

button {
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
    transform: rotate(90deg);
    transition: all ease 0.2s;
    padding: 0.2em 0 0.2em 0;
}

button:hover {
    color: white;
    transform: rotate(90deg) scale(1.8);

}

.mySlides div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
}

.mySlides div .slide_title {
    width: 50%;
    height: 100%;
}

.slide_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide_title img {
    position: relative;
    width: 40%;
    height: fit-content;
    right: 10%;
}

.prog img,
.bureautique img {
    width: 30%;
}

.mySlides div .text {
    padding: 1em;
    width: 50%;
}

.mySlides h2 {
    font-size: 1.2em;
}

.design h2 {
    font-size: 1.1em;
}

.mySlides svg {
    position: relative;
    right: 5%;
}

/* Partie Projet */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#projects .content {
    position: relative;
    top: 5%;
    display: grid;
    justify-items: center;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 15em;
    height: 18em;
    margin: 0.5em;
    background-color: beige;
    padding: 0 0 1em 1em;
    border-radius: 5%;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.80));
    transition: all ease 0.5s;
    z-index: 0;

}

.dataviz {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(./img/projects/dataviz_card.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
}

.resaweb {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(./img/projects/resaweb_card.jpg);
    background-repeat: no-repeat;
    background-size: 165%;
    background-position: center;
}

.vovinam {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(./img/projects/vovinam_card.jpg);
    background-repeat: no-repeat;
    background-size: 215%;
    background-position: 92%;
}

.interview {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(./img/projects/interview_card.jpg);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: 30%;
}

.siteonepage {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(./img/projects/siteonepage_card.jpg), #0f0f0f;
    background-repeat: no-repeat;
    background-size: 100%;

}

.coming-soon {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(./img/projects/coming-soon_card.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card p {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
}

@media screen and (min-width: 768px) and (max-width: 1040px) {

    .title .t1 {
        font-size: 2.65em;
    }

    .title .t2 {
        font-size: 2.5em;
    }

    .card {
        width: 11em;
        height: 14em;
        padding: 0 0 0.5em 0.5em;
    }

    .card p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {

    .title .t1 {
        font-size: 2.15em;
    }

    .title .t2 {
        font-size: 2em;
    }

    .card {
        width: 9em;
        height: 12em;
        padding: 0 0 0.2em 0.2em;
    }

    .card p {
        font-size: 1.2em;
    }
}