*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 164, 200, 0.4) 0%, rgba(0, 187, 30, 0) 49.48%, rgba(0, 187, 30, 0.24) 100%), linear-gradient(0deg, rgba(0, 1, 17, 0.7), rgba(0, 1, 17, 0.7)),url(./img/background.jpg);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 4em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 p {
    font-size: 68px;
}

/* Bannière défilante */
.banner-container {
    display: flex;
    padding: 1em 0 0 0;
    width: 100%;
    overflow: hidden;                     /* masque tout ce qui dépasse */
  }

.banner-container div { 
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.banner-container svg {
    padding: 0 0.5em 0 0.5em;
}


@keyframes marquee {
0%   { transform: translateX(0%); }
100% { transform: translateX(-100%); }
}
/* Partie Accueil */

.logo {
    margin:0 0.5em 0 0.5em ;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
}

.title .t1 {
    font-size: 4em;
}

.title .t2 {
    font-size: 3.688em;
}

.home a {
    border: solid 1px white;
    text-align: center;
    width: fit-content;
    padding: .5em;
}

.title div {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: center;
    margin-top: 3.5em;
}
/* Partie Profil */

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home_img {
    width: 20%;
    height: auto;
    margin: 1em;
}

.profil .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
}

.profil .content main p {
    width: 60%;
    height: auto;
    text-align: justify;
}

/* Partie Compétences */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Slider */

.skills .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.slider-container {
    display: flex;
    background-color: black;
    width: 60%;
    height: 60%;
}

.mySlides {
    display: none;
    width: 90%;
}

.slider-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

.mySlides div {
    display: flex;
    width: 100%;
}